* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.content {
  margin: 0 auto;
  padding: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.options {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.file-input {
  grid-column: span 2;
}

.controls {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.controls-wide {
  grid-column: span 2;
}

.slow-warning {
  width: 80vh;
  max-width: 80ch;
  padding: 1em 1.5em;

  font-size: 0.875em;
  background: rgba(255, 200, 15, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.canvas-container {
  position: relative;
}

#canvasOutput {
  position: absolute;
  top: 0;
  left: 0;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 500ms ease;
}

#canvasOutput.clip {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.flash-anim {
  animation: 350ms ease-out 0s 1 normal forwards running flash;
}

@keyframes flash {
  0% {
    filter: contrast(10%) brightness(1.35);
  }
  100% {
    filter: contrast(100%) brightness(1);
  }
}