body {
  margin: 0;
  font-family: sans-serif;
}

.content {
  margin: 0 auto;
  padding: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.options {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.file-input {
  grid-column: span 2;
}

.controls {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.canvas-container {
  position: relative;
}

#canvasOutput {
  position: absolute;
  top: 0;
  left: 0;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 500ms ease;
}

#canvasOutput.clip {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}