.window {
  position: fixed;
  top: 0;
  left: 0;
  
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "wa-titlebar"
    "wa-menubar"
    "wa-content";
}

.titlebar {
  grid-area: wa-titlebar;

  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "wt-icon wt-title __reserved__ wt-buttons";

  user-select: none;
}

.titlebar-buttons {
  grid-area: wt-buttons;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.window-icon {
  grid-area: wt-icon;
}

.window-title {
  grid-area: wt-title;
  
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menubar {
  grid-area: wa-menubar;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.menubar .divider {
  height: 22px;
  width: 2px;

  margin: 0 2px;
}

.window-content {
  grid-area: wa-content;
}